@import "../../index.scss";

._CALLOUT_ {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: $blue_0;
  padding: 16px 20px;
  border-radius: 6px;
  color: $blue_7;
  ._left {
    display: flex;
    align-items: center;
    ._icon {
      margin-right: 8px;
    }
  }
  &.several {
    align-items: flex-start;
    ._left {
      align-items: flex-start;
    }
  }
  &.danger {
    background: $warning_red_1;
    color: $red_7;
    ._left {
      ._icon {
        transform: rotate(180deg);
      }
    }
  }
}
