@import '../../index.scss';
@import '../Spinner/Spinner.scss';

$bgc: $gray8;

._BUTTON_ {
  font-family: $font;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  outline: none;
  border: none;
  background: $bgc;

  height: 4rem;
  @include ui-sm-text(white, $medium);
  padding: 0 1.6rem;
  border-radius: 0.4rem;

  cursor: pointer;
  transition: 0.2s ease-out;
  box-sizing: border-box;

  span {
    padding: 0 0.4rem;
  }

  &:first-child {
    display: none;
  }

  &:hover {
    background: lighten($color: $bgc, $amount: 10%);
  }
  &:active {
    background: darken($color: $bgc, $amount: 10%);
  }

  & + & {
    margin-left: 2rem;
  }

  // Size
  & + .xxs {
    height: 2.8rem;
    @include ui-xs-text(white, $medium);
    padding: 0 0.4rem;
    border-radius: 0.4rem;
  }

  & + .xs {
    height: 3.2rem;
    @include ui-xs-text(white, $medium);
    padding: 0 0.4rem;
    border-radius: 0.4rem;
  }

  & + .sm {
    height: 3.6rem;
    @include ui-xs-text(white, $medium);
    padding: 0 0.8rem;
    border-radius: 0.4rem;
  }

  & + .md {
    height: 4rem;
    @include ui-sm-text(white, $medium);
    padding: 0 1.2rem;
    border-radius: 0.4rem;
  }

  & + .lg {
    height: 4.4rem;
    @include ui-sm-text(white, $medium);
    padding: 0 1.6rem;
    border-radius: 0.6rem;
  }

  & + .xl {
    height: 4.8rem;
    @include ui-sm-text(white, $medium);
    padding: 0 2rem;
    border-radius: 0.6rem;
  }

  & + .xxl {
    height: 5.2rem;
    @include ui-sm-text(white, $medium);
    padding: 0 2.4rem;
    border-radius: 0.6rem;
  }

  & + .xxxl {
    height: 5.6rem;
    @include ui-lg-text(white, $medium);
    padding: 0 2.8rem;
    border-radius: 0.8rem;
  }

  // Variant (ghost, text)
  & + .ghost {
    background: none;
    border: 1px solid $bgc;
    color: $bgc;
    &:hover {
      background: $bgc;
      color: white;
    }
    &:active {
      background: darken($color: $bgc, $amount: 20%);
    }
  }

  & + .text {
    background: none;
    color: $bgc;
    &:hover {
      text-decoration: underline;
    }
    &:active {
      color: darken($color: $bgc, $amount: 20%);
    }
  }

  // Disabled
  & + .dis {
    opacity: 0.2;
    pointer-events: none;
  }

  // Fullwidth
  & + .fw {
    width: 100%;
    margin: 1rem auto;
  }

  // Loading
  & + .spin-sm::before {
    @include SpinSize(1.2rem, 0.2rem);
  }
  & + .spin-md::before {
    @include SpinSize(1.4rem, 0.3rem);
  }
  & + .spin-lg::before {
    @include SpinSize(1.8rem, 0.3rem);
  }
}
