@import "../../index.scss";

.isolated-dropdown-item-area {
  position: absolute;
  min-width: 180px;
  width: max-content;
  padding: 4px;
  background: #fff;
  border: 1px solid $blue_gray;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: $shadow-7;
}

._DROP_DOWN_ {
  position: relative;
  width: max-content;
  .item-area {
    @extend .isolated-dropdown-item-area;
    top: calc(100% + 4px);
    &.left {
      right: 0;
    }
    &.right {
      left: 0;
    }
    &.maxLeft,
    &.maxRight {
      top: 0px;
    }
    &.maxLeft {
      left: 0;
      transform: translateX(calc(-100% - 8px));
    }
    &.maxRight {
      right: 0;
      transform: translateX(calc(100% + 8px));
    }
  }
}

._DROP_ITEM_ {
  width: 100%;
  .emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    font-size: 1.3rem;
  }
  button._BUTTON_ {
    border-radius: 6px;
    .dds-icon {
      margin-right: 4px;
    }
  }
  &.danger {
    button._BUTTON_ {
      color: $red_7;
      svg {
        #icon__fill {
          fill: $red_7;
        }
        #icon__stroke {
          stroke: $red_7;
        }
      }
      &:hover {
        background-color: $warning_red_1;
        color: $red_7;
        svg {
          #icon__fill {
            fill: $red_7;
          }
          #icon__stroke {
            stroke: $red_7;
          }
        }
      }
      &:active {
        background-color: $warning_red_2;
      }
    }
  }
  button {
    justify-content: flex-start;
    &.loading {
      justify-content: center;
    }
  }
}
