@import '../../index.scss';

._TEXTAREA_ {
  width: 100%;
  padding: 12px 16px;
  @include desc-md-text;
  border-radius: 4px;
  border: 1px solid $gray_4;

  transition: all 0.2s ease-out;
  box-sizing: border-box;
  resize: none;

  // Scrollbar
  &::-webkit-scrollbar {
    width: 8px;
    background-color: $gray_1;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: $gray_4;
  }

  &::placeholder {
    color: $gray_5;
    font-weight: $regular;
  }

  &:hover,
  &:active,
  &:focus {
    border: 1px solid $gray_6;
  }
  &:focus {
    outline: none;
    box-shadow: $shadow-sm;
  }

  & + & {
    margin-top: 20px;
  }

  // Underline
  &.underline {
    width: 100%;
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $gray_4;
    overflow-y: hidden;
    &:hover,
    &:active,
    &:focus {
      border-color: $gray_6;
      box-shadow: none;
    }
    &.dis-underline {
      background: transparent;
      pointer-events: none;
      border-bottom: 1px solid $gray_4;
    }
  }

  // Single-line
  &.single-line {
    width: 100%;
    overflow-y: hidden;
  }

  // Disabled
  &.dis {
    background: $gray_1;
    border: none;
    pointer-events: none;
    &::placeholder {
      opacity: 0.7;
    }
  }

  &.dis-single-line {
    pointer-events: none;
  }
}
