@import "../../index.scss";

._CUSTOM_SELECT_ {
  position: relative;
  font-size: 1.4rem;
  .current {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $gray_1;
    border-radius: 6px;
    height: 28px;
    padding-left: 10px;
    padding-right: 12px;

    box-sizing: border-box;

    cursor: pointer;
    appearance: none;
    outline: none;
    position: relative;
    transition: all 0.1s ease-out;
    user-select: none;

    &:hover,
    &.selected {
      background-color: $gray_3;
      #icon__fill {
        fill: $gray_8;
        transition: 0.1s ease-out;
      }
    }
    & > div {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
    .chevron-icon {
      margin-left: 8px;
    }
  }
  .options {
    position: absolute;
    width: 100%;
    border: 1px solid $blue_gray;
    border-radius: 4px;
    top: calc(100% + 4px);
    z-index: 10;
    background-color: #fff;
    box-shadow: $shadow-7;
    box-sizing: border-box;
    padding: 4px;
    user-select: none;

    .option {
      height: 32px;
      border-radius: 4px;
      box-sizing: border-box;
      &:hover {
        background-color: $gray_1;
      }
      &.selected {
        background-color: $gray_3;
      }
      & > div {
        padding: 0 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }
    }
  }
}
