@import "../../index.scss";

.isolated-customselect-options {
  position: absolute;
  width: max-content; // portal를 활성화 했을 경우 width는 수동으로 맞춰 줘야 함. (with js)
  min-width: max-content;
  border: 1px solid $blue_gray;
  border-radius: 8px;
  z-index: 10;
  background-color: #fff;
  box-shadow: $shadow-7;
  box-sizing: border-box;
  padding: 4px;
  user-select: none;
  .option {
    height: 28px;
    border-radius: 6px;
    box-sizing: border-box;
    &:hover {
      background-color: $gray_1;
    }
    &.hover {
      background-color: $gray_1;
    }
    &.selected {
      background-color: $gray_3;
    }
    & > div {
      padding: 0 10px;
      cursor: pointer;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      min-width: max-content;
      box-sizing: border-box;
    }
  }
}

._CUSTOM_SELECT_ {
  position: relative;
  font-size: 1.4rem;
  .current {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $gray_1;
    border-radius: 6px;
    height: 28px;
    padding-left: 10px;
    padding-right: 12px;
    box-sizing: border-box;
    cursor: pointer;
    appearance: none;
    outline: none;
    position: relative;
    transition: all 0.1s ease-out;
    user-select: none;
    width: 100%;

    &:hover,
    &.selected {
      background-color: $gray_3;
      #icon__fill {
        fill: $gray_8;
        transition: 0.1s ease-out;
      }
    }
    & > div {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
    .chevron-icon {
      margin-left: 8px;
    }
  }
  .options {
    @extend .isolated-customselect-options;
    width: 100%;
    top: calc(100% + 4px);
  }
}
