@import "../../index.scss";

._CUSTOM_SELECT_ {
  position: relative;
  .current {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $gray_4;
    border-radius: 4px;
    height: 32px;
    padding: 0 16px;

    font-size: 14px;
    box-sizing: border-box;

    cursor: pointer;
    appearance: none;
    outline: none;
    transition: all 0.1s ease-out;
    user-select: none;

    &:hover,
    &.selected {
      border: 1px solid $gray_6;
      #select-arrow-icon__color {
        fill: $gray_8;
        transition: 0.1s ease-out;
      }
    }
  }
  .options {
    position: absolute;
    width: 100%;
    border: 1px solid $gray_6;
    border-radius: 4px;
    top: calc(100% + 4px);
    z-index: 10;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    padding: 4px;
    user-select: none;

    .option {
      font-size: 14px;
      font-weight: normal;
      height: 32px;
      border-radius: 4px;
      &:hover {
        background-color: $gray_1;
      }
      &.selected {
        background-color: $gray_3;
      }
      & > div {
        padding: 0 12px;
        cursor: pointer;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}
