@import "../../index.scss";

._SELECT_BOX_._CUSTOM_SELECT_ {
  &.quiet {
    .current {
      background: transparent;
      transition: none;
      transition: border-color 0.1s ease-out;
      border: solid 1px transparent;
      &:hover,
      &.selected {
        border-color: $gray_4;
        background: transparent;
      }
      &.selected {
        border-color: $blue_gray;
      }
    }
  }
  &.border {
    .current {
      background: transparent;
      transition: none;
      transition: border-color 0.1s ease-out;
      border: solid 1px $gray_3;
      &:hover,
      &.selected {
        border-color: $gray_5;
        background: transparent;
      }
      &.selected {
        box-shadow: $shadow_3;
      }
    }
  }
  .current .current-view {
    .icon {
      font-size: 1.6rem;
      margin-right: 8px;
    }
  }
  .options {
    .option {
      .option-view {
        .icon {
          font-size: 1.6rem;
          margin-right: 8px;
        }
      }
    }
  }
}
