@import "../../index.scss";

._DIVIDER_ {
  display: block;
  width: 100%;
  height: 1px;
  &.vertical {
    display: inline-block;
    position: relative;
    top: -0.06em;
    width: 1px;
    height: 1em;
    vertical-align: middle;
  }
}
