@import "../../index.scss";

// Spinner
._SPINNER_ {
  @include CustomSpin($Bc0: $gray_7, $Bc1: $gray_2);

  // Size
  &.xs {
    @include CustomSpin(14px, 2px, $Bc0: $gray_7, $Bc1: $gray_2);
  }

  &.sm {
    @include CustomSpin(16px, 3px, $Bc0: $gray_7, $Bc1: $gray_2);
  }

  &.md {
    @include CustomSpin(18px, 3px, $Bc0: $gray_7, $Bc1: $gray_2);
  }

  &.lg {
    @include CustomSpin(24px, 3px, $Bc0: $gray_7, $Bc1: $gray_2);
  }

  &.xl {
    @include CustomSpin(28px, 3px, $Bc0: $gray_7, $Bc1: $gray_2);
  }
}
