@import "../../index.scss";

._INPUTWRAPPER_ {
  display: flex;
  align-items: center;
  border-radius: 6px;
  border: 1px solid $blue_gray;
  background-color: #fff;
  cursor: text;

  transition: all 0.2s ease-out;
  box-sizing: border-box;

  &:focus-within {
    border-color: $gray_7;
  }

  &:hover,
  &:active {
    border-color: $gray_7;
  }

  & + & {
    margin-top: 20px;
  }

  // Size
  &.xs {
    height: 28px;
    padding: 0 8px;
    font-size: $font-size-small;
  }

  &.sm {
    height: 32px;
    padding: 0 12px;
    border-radius: 8px;
    font-size: $font-size-small;
  }

  &.md {
    height: 36px;
    padding: 0 12px;
    border-radius: 8px;
    font-size: $font-size-small;
  }

  &.lg {
    height: 44px;
    padding: 0 16px;
    border-radius: 10px;
    border-width: 2px;
    font-size: $font-size-medium;
    .dds-icon {
      width: 20px !important;
      height: 20px !important;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    ._INPUT_.leading {
      padding-left: 8px;
    }
    ._INPUT_.tailing {
      padding-right: 8px;
    }
  }

  &.xl {
    height: 56px;
    padding: 0 20px;
    border-radius: 14px;
    border-width: 2px;
    font-size: $font-size-large;
    .dds-icon {
      width: 24px !important;
      height: 24px !important;
      svg {
        width: 24px;
        height: 24px;
      }
    }
    ._INPUT_.leading {
      padding-left: 8px;
    }
    ._INPUT_.tailing {
      padding-right: 8px;
    }
  }

  // Disabled
  &.disabled {
    border-color: $gray_1;
    background-color: $gray_1;
    cursor: not-allowed;
    user-select: none;
    ._INPUT_ {
      cursor: not-allowed;
    }
    ._INPUT_::placeholder {
      color: $gray_5;
    }
    .dds-icon {
      #icon__fill {
        fill: $gray_5;
      }
      #icon__stroke {
        stroke: $gray_5;
      }
    }
  }
  .password-toggle-btn:hover {
    .dds-icon {
      #icon__fill {
        fill: $gray_7;
      }
      #icon__stroke {
        stroke: $gray_7;
      }
    }
  }
}

._INPUT_ {
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
  &::placeholder {
    color: $gray_6;
  }

  &:focus {
    outline: none;
  }

  &.leading {
    padding-left: 4px;
  }

  &.tailing {
    padding-right: 4px;
  }
}
