@import "../../index.scss";

._INPUT_ {
  width: 100%;
  padding: 0 16px;
  border-radius: 6px;
  border: 1px solid $gray_3;

  transition: all 0.2s ease-out;
  box-sizing: border-box;

  &::placeholder {
    color: $gray_5;
  }

  &:hover,
  &:active,
  &:focus {
    border: 1px solid $gray_6;
  }
  &:focus {
    outline: none;
    box-shadow: $shadow-sm;
  }

  & + & {
    margin-top: 20px;
  }

  // Size
  &.xxs {
    height: 28px;
    padding: 0 8px;
    font-size: $font-size-small;
  }

  &.sm {
    height: 36px;
    padding: 0 12px;
    font-size: $font-size-medium;
  }

  &.md {
    height: 40px;
    font-size: $font-size-medium;
  }

  &.lg {
    height: 44px;
    font-size: $font-size-medium;
  }

  &.xxxl {
    height: 56px;
    font-size: $font-size-large;
  }

  // BorderType (underline, none)
  &.underline {
    border: none;
    background: transparent;
    border-radius: 0;
    border-bottom: 1px solid $gray_4;
    &:hover,
    &:active,
    &:focus {
      border-color: $gray_6;
      box-shadow: none;
    }
  }

  &.none {
    border: none;
    border-radius: 0;
    &:hover,
    &:active,
    &:focus {
      box-shadow: none;
    }
  }

  // Disabled
  &.disabled {
    background: $gray_1;
    border: none;
    pointer-events: none;
    &::placeholder {
      opacity: 0.7;
    }
  }

  &.disabled.underline {
    background: none;
    border-bottom: 1px solid $gray_4;
  }

  &.disabled.none {
    background: none;
  }
}
