@import "../../index.scss";

._TAB_ {
  display: inline-block;
  // TABITEM common styles
  ._TABITEM_ {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: $font-size-small;
    box-sizing: border-box;
    color: $gray_6;
    user-select: none;
    text-align: center;
    cursor: pointer;
    transition: $button_hover_transition;
    &:hover {
      background-color: $gray_3;
    }
    &.disabled {
      background-color: transparent;
      cursor: not-allowed;
      color: $gray_5;
      box-shadow: none;
      .dds-icon {
        #icon__fill {
          fill: $gray_5;
        }
        #icon__stroke {
          stroke: $gray_5;
        }
      }
    }
  }
  //
  .rail {
    width: max-content;
    background-color: $gray_1;
    border-radius: 8px;
    padding: 2px;
    box-sizing: border-box;
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.12);
    ._TABITEM_ {
      padding: 0 4px;
      font-weight: $font-weight-medium;
      border-radius: 6px;
      &.selected {
        color: $gray_8;
        background-color: #fff;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15),
          0px 1px 1px rgba(0, 0, 0, 0.06);
      }
      &.disabled {
        background-color: transparent;
        cursor: not-allowed;
        color: $gray_5;
        box-shadow: none;
        .dds-icon {
          #icon__fill {
            fill: $gray_5;
          }
          #icon__stroke {
            stroke: $gray_5;
          }
        }
      }
      .leading-icon {
        margin-right: 4px;
      }
      .tailing-icon {
        margin-left: 4px;
      }
      &.iconOnly {
        .leading-icon,
        .tailing-icon {
          margin: 0;
        }
      }
    }
  }
  &.xs .rail {
    height: 28px;
    ._TABITEM_ {
      height: 24px;
    }
  }
  &.sm .rail {
    height: 32px;
    ._TABITEM_ {
      height: 28px;
    }
  }
  &.md .rail {
    height: 36px;
    border-radius: 10px;
    ._TABITEM_ {
      height: 32px;
      border-radius: 8px;
    }
  }

  .underline {
    ._TABITEM_ {
      font-weight: $font-weight-regular;
      border-bottom: 2px solid transparent;
      padding: 0 8px;
      .dds-icon {
        #icon__fill {
          fill: $gray_6;
        }
        #icon__stroke {
          stroke: $gray_6;
        }
      }
      &.selected {
        color: $gray_8;
        font-weight: $font-weight-medium;
        border-bottom: 2px solid $blue_5;
        .dds-icon {
          #icon__fill {
            fill: $gray_8;
          }
          #icon__stroke {
            stroke: $gray_8;
          }
        }
      }
      .leading-icon {
        margin-right: 4px;
      }
      .tailing-icon {
        margin-left: 4px;
      }
      &.iconOnly {
        .leading-icon,
        .tailing-icon {
          margin: 0;
        }
      }
      &.disabled {
        cursor: not-allowed;
        color: $gray_5;
        font-weight: $font-weight-regular;
        border-bottom: 2px solid transparent;
        .dds-icon {
          #icon__fill {
            fill: $gray_5;
          }
          #icon__stroke {
            stroke: $gray_5;
          }
        }
      }
    }
  }
  &.xs .underline ._TABITEM_ {
    height: 28px;
    padding: 0 8px;
  }
  &.sm .underline ._TABITEM_ {
    height: 32px;
    padding: 0 12px;
  }
  &.md .underline ._TABITEM_ {
    height: 36px;
    padding: 0 14px;
  }
}
