@import "../../index.scss";

._TOGGLE_ {
  position: relative;
  margin-right: 8px;
  width: 30px;
  height: 16px;
  background-color: $gray_3;
  padding: 1px;
  border-radius: 8px;
  transition: all 0.3s ease;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  .toggle-circle {
    position: relative;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
    transition: all 0.15s ease;
  }
}
._TOGGLE_.open {
  background-color: $yellow_6;
  .toggle-circle {
    left: 50%;
  }
}
