/////////////////* Fonts */////////////////

// Font-family
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
$font: 'Spoqa Han Sans Neo', 'sans-serif';

html {
  font-size: 62.5%;
}

// Letter-spacing
$korean-letter-spacing: -0.096rem;

// Font-weight
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;

// Title font
@mixin tit-xxxl-text($color: $gray8, $weight: $bold) {
  font-size: 4.8rem;
  font-weight: $weight;
  line-height: 7.2rem;
  color: $color;
}

@mixin tit-xxl-text($color: $gray8, $weight: $bold) {
  font-size: 3.6rem;
  font-weight: $weight;
  line-height: 5.4rem;
  color: $color;
}

@mixin tit-xl-text($color: $gray8, $weight: $bold) {
  font-size: 2.4rem;
  font-weight: $weight;
  line-height: 3.6rem;
  color: $color;
}

@mixin tit-lg-text($color: $gray8, $weight: $bold) {
  font-size: 2.1rem;
  font-weight: $weight;
  line-height: 3.2rem;
  color: $color;
}

@mixin tit-md-text($color: $gray8, $weight: $bold) {
  font-size: 1.8rem;
  font-weight: $weight;
  line-height: 2.8rem;
  color: $color;
}

// UI, Buttons font
@mixin ui-lg-text($color: $gray7, $weight: $regular) {
  font-size: 1.8rem;
  font-weight: $weight;
  line-height: 2.8rem;
  color: $color;
}

@mixin ui-md-text($color: $gray7, $weight: $regular) {
  font-size: 1.6rem;
  font-weight: $weight;
  line-height: 2.4rem;
  color: $color;
}

@mixin ui-sm-text($color: $gray7, $weight: $regular) {
  font-size: 1.4rem;
  font-weight: $weight;
  line-height: 2rem;
  color: $color;
}

@mixin ui-xs-text($color: $gray7, $weight: $regular) {
  font-size: 1.2rem;
  font-weight: $weight;
  line-height: 1.8rem;
  color: $color;
}

// Description font
@mixin desc-lg-text($color: $gray7, $weight: $light) {
  font-size: 1.8rem;
  font-weight: $weight;
  line-height: 3.2rem;
  color: $color;
}

@mixin desc-md-text($color: $gray7, $weight: $light) {
  font-size: 1.6rem;
  font-weight: $weight;
  line-height: 2.8rem;
  color: $color;
}

@mixin desc-sm-text($color: $gray7, $weight: $light) {
  font-size: 1.4rem;
  font-weight: $weight;
  line-height: 2.6rem;
  color: $color;
}
@mixin desc-xs-text($color: $gray7, $weight: $light) {
  font-size: 1.2rem;
  font-weight: $weight;
  line-height: 2.2rem;
  color: $color;
}

/////////////////* Color */////////////////

// Main Color
$main-yellow0: #fff9db;
$main-yellow1: #fff3bf;
$main-yellow2: #ffec99;
$main-yellow3: #ffe066;
$main-yellow4: #ffd43b; // Primary
$main-yellow5: #fcc419;
$main-yellow6: #fab005; // Primary
$main-yellow7: #f59f00;
$main-yellow8: #f08c00;
$main-yellow9: #e67700;

// Gray Color
$gray0: #f8f9fa;
$gray1: #f1f3f5;
$gray2: #e9ecef;
$gray3: #dee2e6; // horizontal line
$gray4: #ced4da; // border
$gray5: #adb5bd; // placeholder text
$gray6: #868e96;
$gray7: #495057; // ui, buttons text
$gray8: #343a40; // primary text
$gray9: #212529;

// System Color
$red0: #e03131; // caution, error alert
$green0: #40c057; // success
$yellow0: #fab005; // warning
$blue0: #228be5; // information

// Shadow
$shadow-sm: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
$shadow-md0: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.12);
$shadow-md1: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.8);
$shadow-lg0: 0 1.5rem 3rem rgba(0, 0, 0, 0.12);
$shadow-lg1: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.8);
// Container
$login-container-width: 77.2rem;

// Transition Variables
$button-hover-transition: ease-in-out 0.2s;
