/////////////////* Fonts */////////////////

// Spoqa chevron
$right: "&#xE001;";
$left: "&#xE000;";

// Font Family
$font: "Spoqa Han Sans Neo", "sans-serif";

// Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

// Font Size
$font-size-xx-small: 1.2rem;
$font-size-x-small: 1.3rem;
$font-size-small: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-large: 1.8rem;
$font-size-x-large: 2.1rem;
$font-size-xx-large: 2.4rem;
$font-size-xxx-large: 3.6rem;
$font-size-xxxx-large: 4.8rem;

// Line Height
$line-height-medium: 1.5em;
$line-height-large: 1.75em;

// Spacer
$spacer-xx-small: 0.4rem;
$spacer-x-small: 0.8rem;
$spacer-small: 1.2rem;
$spacer-medium: 1.6rem;
$spacer-large: 2rem;
$spacer-x-large: 2.8rem;
$spacer-xx-large: 6rem;

/////////////////* Color */////////////////

// Primary Blue
$blue_0: #f3f9ff;
$blue_1: #E6F2FF;
$blue_2: #C5E1FF;
$blue_3: #92C7FF;
$blue_4: #5FACFF;
$blue_5: #1184FF;
$blue_6: #0C6CD3;
$blue_7: #004C9E;
$blue_8: #003267;

// Gray
$white: #fff;
$gray_0: #F9F9FB;
$gray_1: #EFEFF2;
$gray_2: #EBEBEE;
$gray_3: #E0E0E5;
$gray_4: #CACACC;
$gray_5: #B1B1B3;
$gray_6: #767679;
$gray_7: #444348;
$gray_8: #15141A;
$blue_gray: #8F8F9C;

// System Color
$active_green: #69DB7C;
$inactive_red: #FF8787;
$warning_red_1: #FFF0EE;
$warning_red_2: #F8D0D1;

// Green
$green: #34C759;
$thumbs_green: #40C057;
$text_green: #00A21D;

// Red
$red_5: #FF6B6B;
$red_6: #FA5252;
$red_7: #F03E3E;
$red_8: #E03131;
$red_9: #C92A2A;
$red_10: #A51111;

// Orange
$orange_1: #FFECE2;
$interview_orange_7: #F38119;

// Refferal Color
$referral_blue_1: #E8EFF7;
$referral_blue_7: #1864AB;

// Shadow
$shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.1);
$shadow-md0: 0 4px 8px rgba(0, 0, 0, 0.12);
$shadow-md1: 0 2px 4px rgba(0, 0, 0, 0.08);
$shadow-lg0: 0 5px 30px rgba(0, 0, 0, 0.12);
$shadow-lg1: 0 5px 15px rgba(0, 0, 0, 0.08);
$shadow-option: 0 2px 6px rgba(0, 0, 0, 0.16);

// Container
$login-container-width: 772px;

// Transition Variables
$button-hover-transition: ease-in-out 0.2s;

// Mixin
// * $WH: Width, height value (e.g. 160px)
// * $Bsize: border-size value (e.g. 3px)
// * $Bc0: border-color value (e.g. #fff)
// * $Bc1: border-background-color value (e.g. #ffffff33)
@mixin CustomSpin(
  $WH: 16px,
  $Bsize: 3px,
  $Bc0: #fff,
  $Bc1: rgba(255, 255, 255, 0.2)
) {
  width: $WH;
  height: $WH;
  border: $Bsize solid $Bc0;
  margin: 0;
  content: " ";
  display: block;
  border-radius: 50%;
  border-color: $Bc0 $Bc1 $Bc1 $Bc1;
  animation: spin 1.15s cubic-bezier(0.31, 0.63, 0.8, 0.73) infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// * $bgc: background-color (e.g. #fff)
// * $fc: font-color (e.g. #111)
// * $dis-bgc: disabled background-color
// * $dis-fc: disabled font-color
@mixin button-color(
  $bgc: $gray_7,
  $fc: white,
) {
  background: $bgc;
  color: $fc;
  &:hover {
    @if $bgc == $gray_1 {
      color: $gray_8;
    } @else if $bgc == $gray_7 {
      background: $gray_8;
    } 
    @else if $bgc == $blue_5 {
      background: $blue_6;
    }
    @else if $bgc == $red_7 {
      background: $red_8;
    }
    @else {
      background: darken($bgc, 10%);
    }
  }
  &:active {
    @if $bgc == $gray_4 {
      background: $gray_4;
    } @else if $bgc == $gray_7 {
      background: $gray_7;
    } 
    @else if $bgc == $blue_5 {
      background: $blue_7;
    }
    @else if $bgc == $red_7 {
      background: $red_9;
    } 
    @else {
      background: lighten($bgc, 5%);
    }
  }

  // Variant
  &.ghost {
    background: transparent;
    border-width: 1px;
    border-style: solid;
    color: $bgc;
    @if $bgc == $gray_1 {
      // buttonType="light"
      border-color: $gray_4;
      color: $gray_8;
    } @else if $bgc == $gray_7 {
      // buttonType="basic"
      color: $gray_8;
    }
    &:hover {
      @if $bgc == $gray_1 {
        // buttonType="light"
        background-color: $gray_1;
      } @else {
        background: $bgc;
        color: $fc;
        border-color: $bgc;
      }
    }
    &:active {
      @if $bgc == $gray_1 {
      // buttonType="light"
        background: $gray_3;
      } @else if $bgc == $blue_5 {
        // buttonType="core"
        background: $blue_6;
        border-color: $blue_6;
      }@else if $bgc == $red_7 {
        // buttonType="danger"
        background: $red_9;
        border-color: $red_9;
      } 
      @else {
        background: darken($bgc, 15%);
        border-color: darken($bgc, 15%);
      }
    }
  }

  &.quiet {
    background: transparent;
    @if $bgc == $gray_1 {
      // buttonType="light"
      color: $gray_8;
    } @else if $bgc == $gray_7 {
      // buttonType="basic"
      color: $gray_8;
    } @else {
      color: $bgc;
    }
    &:hover {
      @if $bgc == $gray_1 {
        // buttonType="light"
        background: $gray_1;
      } @else {
        background: $bgc;
        color: #fff;
      }
    }
    &:active {
       @if $bgc == $blue_5 {
         // buttonType="core"
        background: $blue_6;
      }
      @else if $bgc == $red_7 {
        // buttonType="danger"
        background: $red_9;
      }
      @else {
        background-color: darken($bgc, 15%);
      }
    }
  }
  &.textonly {
    background: transparent;
    @if $bgc == $gray_1 {
      color: $gray_8;
    } @else if $bgc == $gray_7 {
      color: $gray_8;
    } @else {
      color: $bgc;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
